<div>
  <h2>Nouveau Manager</h2>

  <form [formGroup]="managerForm" (ngSubmit)="managerForm.valid && saveManager()">
    <table>    
      <tr>    
        <td>
          <mat-form-field>
            <input matInput id="firstName" formControlName="firstName" [(ngModel)]="manager.firstName" placeholder="Prénom">
            <mat-error>Vous devez entrer un prénom valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="lastName" formControlName="lastName" [(ngModel)]="manager.lastName" placeholder="Nom">
            <mat-error>Vous devez entrer un nom valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="email" formControlName="email" [(ngModel)]="manager.email" placeholder="Email (Ex : email@example.com)" email>
            <mat-error>Vous devez entrer une adresse mail valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="tel" formControlName="tel" [(ngModel)]="manager.tel" placeholder="Téléphone (Ex : 06 00 00 00 00)">
            <mat-error>Vous devez entrer un numéro de téléphone valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
  </form>
</div>