button.new-meeting {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-margin {
  margin: 0 20px;
}

.subject_button {
	display : inline-block;
}