<div>
  <h2>Nouveau Client Employee</h2>

  <form [formGroup]="clientEmployeeForm" (ngSubmit)="clientEmployeeForm.valid && saveClientEmployee()">
    <table>    
      <tr>    
        <td>
          <mat-form-field>
            <input matInput id="firstName" formControlName="firstName" [(ngModel)]="clientEmployee.firstName" placeholder="Prénom">
            <mat-error>Vous devez entrer un prénom.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="lastName" formControlName="lastName" [(ngModel)]="clientEmployee.lastName" placeholder="Nom">
            <mat-error>Vous devez entrer un nom.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="email" formControlName="email" [(ngModel)]="clientEmployee.email" placeholder="Email (Ex : email@example.com)" email>
            <mat-error>Vous devez entrer une adresse mail valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="tel" formControlName="tel" [(ngModel)]="clientEmployee.tel" placeholder="Téléphone (Ex : 06 00 00 00 00)">
            <mat-error>Vous devez entrer un numéro de téléphone valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="title" formControlName="title" [(ngModel)]="clientEmployee.title" placeholder="Poste">
            <mat-error>Vous devez entrer un intitulé de poste valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
  </form>
</div>