<div>
  <h2>Editer Consultant</h2>

  <form [formGroup]="consultantForm" (ngSubmit)="consultantForm.valid && updateConsultant()">
    <table>    
      <tr>    
        <td>
          <mat-form-field>
            <input matInput id="firstName" formControlName="firstName"  placeholder="Prénom">
            <mat-error>Vous devez entrer un prénom.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="lastName" formControlName="lastName"  placeholder="Nom">
            <mat-error>Vous devez entrer un nom.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="email" formControlName="email" placeholder="Email (Ex : email@example.com)" email>
            <mat-error>Vous devez entrer une adresse mail valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput id="tel" formControlName="tel" placeholder="Téléphone (Ex : 06 00 00 00 00)">
            <mat-error>Vous devez entrer un numéro de téléphone valide.</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
  </form>
</div>