<div>
  <h2>Editer Projet</h2>

  <form [formGroup]="projectForm" (ngSubmit)="projectForm.valid && updateProject()">
    <table>    
      <tr>    
        <td>
          <mat-form-field>
            <mat-select placeholder="Mes Consultants" [compareWith]="compareObjects" formControlName="consultantControl" >
              <mat-option *ngFor="let consultant of consultantsList" [value]="consultant">
                {{consultant.lastName}} {{consultant.firstName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr [formGroup]="consultantForm">
        <td>
          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="lastName" value="{{projectForm.controls['consultantControl'].value?.lastName}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Prénom" formControlName="firstName" value="{{projectForm.controls['consultantControl'].value?.firstName}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" value="{{projectForm.controls['consultantControl'].value?.email}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Téléphone" formControlName="tel" value="{{projectForm.controls['consultantControl'].value?.tel}}" >
          </mat-form-field>
        </td>
      </tr>
      <tr>    
        <td>
          <mat-form-field>
            <mat-select placeholder="Mes Clients" [compareWith]="compareObjects" formControlName="clientControl" (selectionChange)="updateClientEmployeeList($event.value)">
              <mat-option *ngFor="let client of clientsList" [value]="client">
                {{client.name}}, {{client.address}} - {{client.city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr [formGroup]="clientForm">
        <td>
          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="name" value="{{projectForm.controls['clientControl'].value?.name}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Adresse" formControlName="address" value="{{projectForm.controls['clientControl'].value?.address}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Code Postal" formControlName="cp" value="{{projectForm.controls['clientControl'].value?.cp}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Ville" formControlName="city" value="{{projectForm.controls['clientControl'].value?.city}}" >
          </mat-form-field>
        </td>
      </tr>
      <tr>    
        <td>
          <mat-form-field>
            <mat-select placeholder="Responsable Projet" [compareWith]="compareObjects" formControlName="clientEmployeeControl">
              <mat-option *ngFor="let clientEmployee of clientEmployeesList" [value]="clientEmployee">
                {{clientEmployee.lastName}} {{clientEmployee.firstName}} - {{clientEmployee.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr [formGroup]="clientEmployeeForm">
        <td>
          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="lastName" value="{{projectForm.controls['clientEmployeeControl'].value?.lastName}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Prénom" formControlName="firstName" value="{{projectForm.controls['clientEmployeeControl'].value?.firstName}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" value="{{projectForm.controls['clientEmployeeControl'].value?.email}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Téléphone" formControlName="tel" value="{{projectForm.controls['clientEmployeeControl'].value?.tel}}" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Poste" formControlName="title" value="{{projectForm.controls['clientEmployeeControl'].value?.title}}" >
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput [matDatepicker]="start_date" placeholder="Choisissez une date" formControlName="start_date" >
            <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput [matDatepicker]="end_date" placeholder="Choisissez une date" formControlName="end_date" >
            <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
            <mat-datepicker #end_date></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
  </form>
</div>