<div>
  <h2>Nouveau Projet</h2>

  <form [formGroup]="projectForm" (ngSubmit)="projectForm.valid && saveProject()">
    <table>    
      <tr>    
        <td>
          <mat-form-field>
            <mat-select placeholder="Mes Consultants" formControlName="consultantControl">
              <mat-option *ngFor="let consultant of consultantsList" [value]="consultant">
                {{consultant.lastName}} {{consultant.firstName}}
              </mat-option>
            </mat-select>
            <mat-error>Vous devez selectionner un consultant.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Nom" value="{{projectForm.get('consultantControl').value?.lastName}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Prénom" value="{{projectForm.get('consultantControl').value?.firstName}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Email" value="{{projectForm.get('consultantControl').value?.email}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Téléphone" value="{{projectForm.get('consultantControl').value?.tel}}" disabled>
          </mat-form-field>
        </td>
      </tr>
      <tr>    
        <td>
          <mat-form-field>
            <mat-select placeholder="Mes Clients" formControlName="clientControl" (selectionChange)="updateClientEmployeeList($event.value)">
              <mat-option *ngFor="let client of clientsList" [value]="client">
                {{client.name}}, {{client.address}} - {{client.city}}
              </mat-option>
            </mat-select>
            <mat-error>Vous devez selectionner un client.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Nom" value="{{projectForm.get('clientControl').value?.name}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Adresse" value="{{projectForm.get('clientControl').value?.address}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Code Postal" value="{{projectForm.get('clientControl').value?.cp}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Ville" value="{{projectForm.get('clientControl').value?.city}}" disabled>
          </mat-form-field>
        </td>
      </tr>
      <tr>    
        <td>
          <mat-form-field>
            <mat-select placeholder="Responsable Projet" formControlName="clientEmployeeControl">
              <mat-option *ngFor="let clientEmployee of clientEmployeesList" [value]="clientEmployee">
                {{clientEmployee.lastName}} {{clientEmployee.firstName}} - {{clientEmployee.title}}
              </mat-option>
            </mat-select>
            <mat-error>Vous devez selectionner un responsable projet.</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Nom" value="{{projectForm.get('clientEmployeeControl').value?.lastName}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Prénom" value="{{projectForm.get('clientEmployeeControl').value?.firstName}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Email" value="{{projectForm.get('clientEmployeeControl').value?.email}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Téléphone" value="{{projectForm.get('clientEmployeeControl').value?.tel}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Poste" value="{{projectForm.get('clientEmployeeControl').value?.title}}" disabled>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput [matDatepicker]="start_date" placeholder="Choisissez une date" formControlName="start_date" [(ngModel)]="project.start_date" [value]="date.value" >
            <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>  
        <td>    
          <mat-form-field>
            <input matInput [matDatepicker]="end_date" placeholder="Choisissez une date" formControlName="end_date" [(ngModel)]="project.end_date" [value]="date.value" >
            <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
            <mat-datepicker #end_date></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
  </form>
</div>